.vscode
~roughwork/

1_serial/serial
1_serial/serial.txt

2_serial_regno/serial_regno
2_serial_regno/serial_regno.txt

3_serial_regno_name/serial_regno_name
3_serial_regno_name/serial_regno_name.txt

test*
client
server
