.vscode
~roughwork/

Iterative_Connection_Oriented/tcp_client
Iterative_Connection_Oriented/tcp_server
Iterative_Connection_Oriented/student_details*
Iterative_Connectionless/udp_client
Iterative_Connectionless/udp_server
Iterative_Connectionless/student_details*

Concurrent_Connection_Oriented/tcp_client1
Concurrent_Connection_Oriented/tcp_client2
Concurrent_Connection_Oriented/tcp_client3
Concurrent_Connection_Oriented/tcp_server
Concurrent_Connection_Oriented/student_details*
Concurrent_Connectionless/udp_client
Concurrent_Connectionless/udp_client1
Concurrent_Connectionless/udp_client2
Concurrent_Connectionless/udp_client3
Concurrent_Connectionless/udp_server
Concurrent_Connectionless/student_details*

test*
client
server
